# ChrisShop Backup & Disaster Recovery Environment
# Managed by Ansible (Role: backup)
POSTGRES_DB={{ backup_db_name }}
POSTGRES_USER={{ backup_db_user }}
AGE_PUBLIC_KEY={{ backup_age_public_key }}
R2_ENDPOINT_URL={{ backup_r2_endpoint_url }}
AWS_ACCESS_KEY_ID={{ backup_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ backup_aws_region }}
